// Error 404 Page
.error404 > body
{
  background-color: $primary-colour;
}

.main
{
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error404 .colContainer
{
  max-width: 50%;
}

.error404 .leftSlide
{
  margin-top: 20px;
  margin-right: 30px;
}

.error404 .rightText
{
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 0px;
}
