input:not([type]):focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{
  border-bottom-color: $primary-colour;
  box-shadow: 0 1px 0 0 $primary-colour;
}

.comment-area
{
  margin-top: -10px;  
}

.comment-meta
{
  padding-left: 0px;
}

.comment-body
{
  margin-top:25px;
  margin-bottom: 20px;
}

.comment-body > .comment-content
{
  margin-top:-10px;
}

.comment-body > .reply
{
  margin-top: -15px;
}
