// Footer
body
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main
{
  flex: 1 0 auto;
}

.page-footer
{
  background-color: $primary-colour;
  padding-bottom: 20px;
}

.footer-contact-list
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 0px !important;
}

.footer-contact-list > div:first-child
{
  margin-left: 0;
  flex: 0;
}

.footer-contact-list > div
{
  margin-left: 20px;
  flex: 0;
}

.footer-contact-list > li:first
{
  margin-left: 0px;
}

.page-footer
{
    .row
    {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
}

.footer-contact-list
{
  color: white !important;
}

.footer-contact-list:hover
{
  color: lighten($primary-colour, $contact-btn-hover-lighter) !important;
}
