//Index

.home-container
{
  margin: auto;
  width: 94%;
}

.index-card-margin-bottom
{
  margin-bottom: 35px;
}

.index-card-margin-left
{
  @extend .index-card-margin-bottom;
  margin-right: 25px;
}

.index-card-margin-right
{
  @extend .index-card-margin-bottom;
  margin-left: 25px;
}

.card-image
{
  overflow: hidden;
}

.postThumbnailImage
{
  transition: all .2s ease-in-out;
  width:100%;
  height:100%;
}

.postThumbnailImage:hover
{
  transform: scale(1.1);
}
