// Search Result
.search-result
{
  margin-bottom: 0px;
}

.search-result > p
{
  color: $menubar-text-colour !important;
}

.search-result > .tax-header
{
  font-size: 50px;
  font-weight: 300;
}

.search-result > .category-description
{
  margin-top:-20px;
}

.not-found-result
{
  text-align: center;
}

.not-found-result-subtext
{
  @extend .not-found-result;
  color: $menubar-text-colour !important;
}
