//Search Box

.searchbox-outer
{
  margin-top: 30px;
  background-color: $home-background-colour;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.searchbox-container
{
  display: flex;
}

.searchbox-container > .search-icon
{
  margin-top: 8px;
  margin-right: 10px;
  flex: 0;
}

.searchbox-container > .search-input
{
  border-bottom: none;
  margin-bottom: 0px !important;
  flex: 1;
  border-bottom: none !important;
  font-family: $font-family-stack;
  color: $text-heading-colour;
}

.searchbox-container > .search-input::placeholder
{
  font-family: $font-family-stack;
  color: $text-disabled-colour;
}

.searchbox-container > .search-input:focus
{
  border-bottom: none !important;
  box-shadow: none !important;
}
