// Search Result
.search-result
{
  margin-bottom: 0px;
}

.search-result > p
{
  color: $menubar-text-colour !important;
}

.not-found-result
{
  text-align: center;
}

.not-found-result-subtext
{
  @extend .not-found-result;
  color: $menubar-text-colour !important;
}
