// Side Nav
.side-nav li a
{
  display: block;
  padding-top: 15px;
  padding-bottom: 90px;
  color: $menubar-text-colour;
}

.side-nav li:first-child
{
  margin-top:30px;
}

#menu-primary-menu
{
  padding-left: 0;
  list-style-type: none;
}

.side-nav
{
  background-color: $home-background-colour;
  color: $menubar-text-colour;
  padding-top: 65px;
}

header, main, footer
{
  padding-left: 150px;
}

//Change Container Width Only in homepage
.home > .container
{
  width: 90%;
}

.side-nav > center > ul > li > a > span > i
{
  display:block;
  float:none;
  width:100%;
}

.nav-wrapper > .left
{
  margin-left: -15px;
  list-style-type: none;
}

@media only screen and (max-width : 992px)
{
  header, main, footer
  {
    padding-left: 0;
  }
}
