// Single Page
.single-container
{
  margin:auto;
  margin-top: 10px;
  max-width: 700px;

  @media only screen and (max-width : 993px)
  {
    margin: auto;
    margin-top:10px;
    width:90%;
  }
}

.single-container-img
{
  @extend .single-container;

  margin-top:30px;

  @media only screen and (max-width : 993px)
  {
    margin-top:0px;
    width:100%;
  }
}

// Single Page - Title Set
.single-container > .title
{
  margin-bottom: 30px;
}

.single-container > .title > h1
{
  margin-bottom: 0px;
}

.single-container > .title > p
{
  margin-top:10px;
  color: $menubar-text-colour !important;
}

// Single Page Content Area Configuration
.single-container-img > img
{
  max-height: 600px;
  width:auto;
  display: block;
  margin: 0 auto;

  @media only screen and (max-width : 993px)
  {
    width:100%;
    height:auto;
  }
}

// Single Page Tag Area
.single-container > .content > .tags
{
  margin-bottom: 25px;
}

// Tags
.customchip
{
  display: inline-block;
  font-weight: 300;
  padding: 5px 12px 5px 12px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.chip-tag
{
  @extend .customchip;
  @extend .link-no-decorate;
  background-color: $primary-colour;

  a
  {
    color: white;
  }

  &:hover {
    background-color: darken($primary-colour, $chip-hover-darken);
  }
}


// More Post
.more-post
{
  margin-top:0px;
}

.more-post > h2
{
  margin-bottom: 10px;
  margin-top: 0;
}

.more-post > .article-group
{
  display: flex;
  flex-direction: row;

  @media (max-width: 992px)
  {
    flex-direction: column;
  }
}

.article-group > .article-set
{
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top:16px;
  margin-left: 0px;
  margin-right: 0px;
}

.article-group > .article-set:first-child
{
  margin-right: 74px;

  @media (max-width: 992px)
  {
    margin-right: 0px;
  }
}

.article-set > .category > a
{
  font-weight: 300;
  font-size: 18px;
  color: $text-disabled-colour;
}

.article-set > .title > h4
{
  margin-top: 12px;
  margin-bottom: 0px;
}

.article-set > .excerpt > p
{
  font-size: 18px;
  color: $text-disabled-colour;
  margin-top: 12px;
}


.more-post > h2
{
  color: $text-heading-colour;
}
