// Main Colour Settings
$primary-colour: #2096F3;
$text-heading-colour: #212121;
$text-disabled-colour: #424242;
$text-secondary-colour: #666666;
$home-background-colour: #F1F4F9;
$menubar-text-colour: #78909C;

// Social Colour Settings
$facebook-colour: #3b5998;
$twitter-colour: #55acee;
$google-plus-colour: #dd4b39;

// Font
$font-family-stack: 'Open Sans';

// Social Button Hover Settings
$social-btn-hover-darken: 20%;
$chip-hover-darken: 10%;
$contact-btn-hover-lighter: 20%;
